<!DOCTYPE html>
<html>
	<head>
		<title>T4 Platform - classification</title>
		
		<script>
			function getData()
			{
				var req=new XMLHttpRequest();
				req.open("post","");	//伺服器
				req.onload = function()
				{
					var res = JSON.parse(this.response);	//接回傳data
					console.log(res);
					//分類列表
					var num_class = res.name.length;
					var tar = document.getElementById("class_list");
					var data = "";
					for(i=0;i<num_class;++i)
					{
						data += "<a style=\"font-size:x-large; color:black; text-decoration:none;\" href=\""
							+ res.name[i] +"/\">"+res.name[i] + "</a>" + "<p></p>";	//文章連結
					}
					tar.innerHTML = data;
				}
				var reqClassList={	
						"action" : "GET_CLASS_LIST"
					};
				var myRequest = JSON.stringify(reqClassList);
				//alert(myRequest);
				req.send(myRequest);
			}

		</script>
	</head>
	<body>
		<div id="top_bar" style="background-color: powderblue;">
			<a style="color:blue; font-size:x-large;" 
				id="logo" 
				href="../../">	
				T4 Platform</a>
			<p></p>
			<a id="user_id" href="../../login/">尚未登入</a>
		</div>
		<p></p>
		<h1 style="background-color: powderblue;">選擇看板</h1>
		<p></p>
		<div id="class_list" style="background-color: powderblue;" > /*看板列表*/</div>
        <script> getData();</script>
	</body>
</html>