<!doctype html>
<html>
<head>
<meta content="text/html" charset="utf-8" />
<style type="text/css" >
div {
	color: #ffffff;
	background-color: #ff0000;
	border-width: 1px;
	border-color: black;
	border-style: solid;
	position: absolute;
}
</style>
<title>T4 platform</title>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js" integrity="sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ==" crossorigin="anonymous" referrerpolicy="no-referrer">
</script>
<script type="text/javascript" >
document.createElement("topBar")
</script>
<style type="text/css" >
topBar{
    display: block;
    background-color: cyan;
    padding: 50px;
    font-size: 50px;
}
</style> 
</head>
<body>
<topBar>
    <a href="/">首頁</a>
</topBar>
<form action="" method="post" >
  <div align="left" style="background-color:cyan;padding:10px;margin-bottom:5px;">
    <br>
    <label for="class_name">分類:</label>
    <select name="class_name" id="class_name" size=0 required autofocus >
	  
	</select>
    <br>  
    <br> 
  <label for="article_title">文章標題:</label>
    <input type="text" name="article_title" id="article_title" required />
    <br>
    <br>
  <label for="article_content">文章內容:</label><br>
    <textarea type="text" name="article_content" id="article_content" rows="10" cols="50" ></textarea>
    <br>
    <br>
    <input type="button" value="送出" id="submit" />
  </div>
</form>
</body>
<script type="text/javascript" >
window.onload = function() {

  // 填入url -- TODO
  let url = "";
  //----------------//
  // 拿到分類
  let get_list = {}; // 建立JSON Object
  get_list["action"] = "GET_CLASS_LIST";
  let data_c = JSON.stringify(get_list); // 將JSON轉為字串格式
  // alert(data_c);
  let xhr = new XMLHttpRequest(); // 建立xhr物件
  xhr.open('post', url, true);
  xhr.send(data_c);
  xhr.onload = function() {
    // 取得 xhr的回應後，顯示註冊是否成功資訊
    let tmp_1 = JSON.parse(xhr.responseText);
    let class_list = document.getElementById('class_name');
	let len = tmp_1["name"].length;
	for (let i = 0; i < len; i++){
	  class_list.options[i]= new Option(tmp_1["name"][i], tmp_1["name"][i]);
	}
	class_list.selectedIndex = 0;
  }



  
  // 先拿到文章資訊
  let req = {}; // 建立JSON Object
  req["action"] = "GET_ARTICLE_DATA";
  let data_a = JSON.stringify(req);
  // alert(data_a);
  let xhr2 = new XMLHttpRequest(); // 建立xhr物件
  xhr2.open('post', url, true);
  xhr2.send(data_a); // 送出請求
  let res;
  let class_name = document.getElementById('class_name');
  let article_title = document.getElementById('article_title');
  let article_content = document.getElementById('article_content');
  xhr2.onload = function() {
    res = JSON.parse(xhr2.responseText); // 接收回應
      class_name.value = res["class_name"];
  article_title.value = res["title"];
  article_content.value = res["content"];
  }


  // alert(res);
  // 等用戶按下送出
  let submit = document.getElementById('submit');
  submit.addEventListener('click', signup); //監聽按鈕事件
  // 送出
  function signup() {
    // 更改輸入內容
      let rew = {}; // 建立JSON Object
    rew["action"] = "ADD_ARTICLE";
	rew["userID"] = localStorage.getItem("user_id"); // TODO
    rew["class_name"] = class_name.value;
	rew["title"] = article_title.value;
	rew["content"] = article_content.value;
    let data_b = JSON.stringify(rew); // 將JSON轉為字串格式
    // alert(data_b);
      xhr.open('post', url, true);
	xhr.send(data_b);
    xhr.onload = function() {
    // 取得 xhr的回應後，顯示註冊是否成功資訊
      let tmp = JSON.parse(xhr.responseText);
      if(tmp['stats'] == "SUCCESS") {
      alert('修改成功');
	  window.location.href = '../';
    }
	else {
      alert('修改失敗');
	  window.location.reload();
    }
    }
	// alert(tmp);

  }
}
</script>
</html>