<!doctype html>
<html>
<head>
<meta content="text/html" charset="utf-8" />
<style type="text/css" >
div {
	color: #ffffff;
	background-color: #ff0000;
	border-width: 1px;
	border-color: black;
	border-style: solid;
	position: absolute;
}
</style>
<title>T4 platform</title>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js" integrity="sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ==" crossorigin="anonymous" referrerpolicy="no-referrer">
</script>
<script type="text/javascript" >
document.createElement("topBar")
</script>
<style type="text/css" >
topBar{
    display: block;
    background-color: cyan;
    padding: 50px;
    font-size: 50px;
}
</style> 
</head>
<body>
<topBar>
<a href="url">首頁</a>
</topBar>
<form action="" method="post" >
  <div align="left" style="background-color:cyan;padding:10px;margin-bottom:5px;">
    <br>
    <label for="class_name">分類:</label>
    <input type="text" name="class_name" id="class_name" required autofocus />
    <br>  
    <br> 
  <label for="article_title">文章標題:</label>
    <input type="text" name="article_title" id="article_title" required />
    <br>
    <br>
  <label for="article_content">文章內容:</label><br>
    <textarea type="text" name="article_content" id="article_content" rows="10" cols="50" ></textarea>
    <br>
    <br>
    <input type="button" value="送出" id="submit" />
  </div>
</form>
</body>
<script type="text/javascript" >
window.onload = function() {

  // 填入url -- TODO
  let url = "";
  //----------------//
  
  // 先拿到文章資訊
  let req = {}; // 建立JSON Object
  req["action"] = "GET_ARTICLE_DATA";
  req["serial_num"] = 123;
  let data_a = JSON.stringify(req);
  // alert(data_a);
  let xhr = new XMLHttpRequest(); // 建立xhr物件
  xhr.open('post', url, true);
  xhr.send(data_a); // 送出請求
  let res;
  xhr.onload = function() {
    res = JSON.parse(xhr.responseText); // 接收回應
  }
  // alert(res);
  // 等用戶按下送出
  let submit = document.getElementById('submit');
  submit.addEventListener('click', signup); //監聽按鈕事件
  // 送出
  function signup() {
    // 更改輸入內容
    res["class_name"] = document.getElementById('class_name').value;
	res["title"] = document.getElementById('article_title').value;
	res["content"] = document.getElementById('article_content').value;
    let data_b = JSON.stringify(res); // 將JSON轉為字串格式
    // alert(data_b);
	xhr.send(data_b);
    xhr.onload = function() {
    // 取得 xhr的回應後，顯示註冊是否成功資訊
      let tmp = JSON.parse(xhr.responseText);
	  let verify = "Yes";
    }
	// alert(tmp);
    if(verify == "Yes") {
      alert('修改成功');
    }
	else {
      alert('修改失敗');
    }
  }
}
</script>
</html>